
.left_section{
    min-height: 100vh;
    width: 40%;
    background-image: url('/images/bg-main-desktop.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.cards{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 100%;
    transform: translate(-50%,-50%);
}
.front_card{
    position: relative;
    transform: translateX(-100px);
}

.card_logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-left: 10px;

}

#number{
    position: absolute;
    color: var(--white);
    bottom: 5rem;
    left: 1rem;
    letter-spacing: 3.42px;
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
}
.card_info{
    position: absolute;
    margin-left: 10px;
    bottom: 2rem;
    left: 1rem;
    right: 3rem;
    display: flex;
    color: var(--white);
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.back_card{
    position: relative;
}
#cvc{
    position: absolute;
    right: 3.5rem;
    top: 7rem;
    color: var(--white);
    letter-spacing: 2px;
}

